﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="nav navbar-btn navbar-right">
            <a class="btn btn-warning" href="javascript:document.getElementById('logoutForm').submit()">Выход</a>
        </div>
    }
}
else
{
    <div class="nav navbar-btn navbar-right ">
        <a class="btn btn-success" href="@Url.Action("Login", "Account", null)" role="button">Войти</a>
        <a class="btn btn-info" href="@Url.Action("Register", "Account", null)" role="button">Регистрация</a>
    </div>
}

