﻿/* Custom form styles
-------------------------------------------------- */
.form-custom {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-custom .form-custom-heading,
.form-custom .checkbox {
  margin-bottom: 10px;
}
.form-custom .checkbox {
  font-weight: normal;
}
.form-custom .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-custom .form-control:focus {
  z-index: 2;
}
.form-custom #form-custom-start {
  margin-bottom: -1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.form-custom input {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-custom #form-custom-end {
        margin-bottom: 10px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
} 
label {
  display: none;
  border: 1px solid #ccc;
  background: #f1f1f1;
  padding: 2px 5px;
  margin: 0 0 0 4px;
}
input:focus + label {
  display: inline-block;
}