﻿
@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <div class="container">
        <h1>Добро пожаловать на сасайт</h1>
        <p>На этом прекрасном сайте вы сможете выбрать один из двух <text class="text-muted">что?</text></p>
        <p><a class="btn btn-primary btn-lg" role="button" href="@Url.Action("Vote", "Home", null)">Сделать выбор &raquo;</a></p>
    </div>
</div>

