﻿@model ChoiceOfTwo.Models.VoteModel
@{
    ViewBag.Title = "Vote";
}

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/ANDROID.png" alt="First">
            <h2>Первый</h2>
            <p>Замечательный первый вариант</p>
            <p>За него проголосовало @Model.First человек</p>
            @if (Model.CurrentUserChoice == false)
            {
                <p class="text-warning">Включая и вас</p>
            }
            else
            { 
                using (Html.BeginForm("Vote", "Home",new { choice = 0}, FormMethod.Post, new { id = "Form1" }))
                {
                    <a class="btn btn-primary" href="javascript:document.getElementById('Form1').submit()">Выбрать первый</a>
                }
            }
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/rezultat.png" alt="Results">
            <h2>Воздержались</h2>
            <p>Не сделали выбор @Model.Third человек</p>
            @if (Model.CurrentUserChoice == null)
            {
                <p class="text-warning">Включая и вас</p>
            }
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/apple.png" alt="Second">
            <h2>Второй</h2>
            <p>Супер второй вариант</p>
            <p>За него проголосовало @Model.Second человек</p>
            @if (Model.CurrentUserChoice == true)
            {
                <p class="text-warning">Включая и вас</p>
            }
            else 
            { 
                using (Html.BeginForm("Vote", "Home", new { choice = 1 }, FormMethod.Post, new { id = "Form2" }))
                {
                    <a class="btn btn-primary" href="javascript:document.getElementById('Form2').submit()">Выбрать второй</a>
                }
            }
        </div>
    </div>
</div>
