﻿@model ChoiceOfTwo.Models.LoginModel

@{
    ViewBag.Title = "Аутентификация";
}
<form action="Login" method="post" class="form-custom" role="form">
    <h2 class=" form-custom-heading text-center">Войти на сайт</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "UserName", @id = "form-custom-start" } })
    @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @id = "form-custom-end" } })
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
