﻿@model ChoiceOfTwo.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
}

<form action="Register" method="post" class="form-custom" role="form">
    <h2 class=" form-custom-heading text-center">Регистрация</h2>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "E-mail", @id = "form-custom-start" } })
    @Html.EditorFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "UserName" } })
    @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
    @Html.EditorFor(x => x.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", @placeholder = "Repeat Password", @id = "form-custom-end" } })
    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
</form>
